
#Logo{
  padding: 5% 5%;
  width: 40%;
  display: inline-block;
}

header h1{
  font-size: 2em;
  font-weight: bold;
 
}

header{
  width: 100%;
  background-color: #f5f5f5;
}

nav{
  display: inline-block;
}

nav li{
  display: inline-block;
  font-weight: bold;
}

main{
  padding: 10%;
}

.titulo-principal{
  margin-left: 10%;
  width: 50%;
  font-size: 3em;
  background-color: #dcdcdc;
  display: inline-block;
  padding: 5% 8%;
}

.bloco{
  width: 5%;
  display: inline-block;
}

#numero-bloco{
  font-size: 3em;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0;
}

.texto-bloco{
  margin-top: 0;
}

.integrantes{
  margin: auto;
  width: 80%;
}

.integrantes ul{
  display: flex; /* or inline-flex */
}

.integrantes li{
  border: 3px solid palevioletred;
  border-radius: 10px;
  width:20%;
  vertical-align: top;
  margin: 10% 2%;
  display: inline-block;
}

.integrantes li h3{
  font-weight: bold;
  text-align: center;
  padding: 30% 0;
}

li img{
  width: 120px;
}